* {
    background-color: #EADDCA;
    font-size: 110%;
    color: #5C4033;
}

.icon {
    /* font-size: 16px; */
    vertical-align: middle;
    height: 24;
    width: 24;
    margin-right: 5;
    text-decoration: none;
}

a {
    vertical-align: middle;
}

.linkpack {
    text-align: center;
    margin-bottom: 10%;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}