* {
    /* background-color: #EADDCA; */
    font-size: 110%;
    color: rgb(253, 253, 253);
    text-shadow: 1px 1px #520b00;
}

body {
    background-image: linear-gradient(to bottom right, #DBE6F6, #C5796D);
    /* background-image: linear-gradient(to bottom right, #E8CBC0, #636FA4); */
    /* background-image: linear-gradient(to bottom right, #FAAE7B, #432371); */
}

.icon {
    /* font-size: 16px; */
    height: 24px;
    width: 24px;
    max-height: 24px;
    max-width: 24px;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.icon_link {
    text-decoration: none;
    vertical-align: middle;
}

a {
    vertical-align: middle;
}

.linkpack {
    text-align: center;
    margin-bottom: 10%;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}