.bg,
.chroma {
    background: #e8e8e8;
}

.chroma {
    padding: 0.5rem;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    overflow-x: visible;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.chroma .line {
    display: flex;
}

.chroma .hl {
    background: #e5e5e5;
}

.chroma :is(.lnt, .ln) {
    margin-right: 0.4em;
    padding: 0 0.4em;
    color: #7f7f7f;
    white-space: pre;
    user-select: none;
}

.chroma .lntd,
.chroma .lntable {
    margin: 0;
    padding: 0;
    border: 0;
}

.chroma .lntable {
    border-spacing: 0;
}

.chroma .lnlinks {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.chroma .err {
    color: #a61717;
    background: #e3d2d2;
}

.chroma :is(.k, .kc, .kd, .kn, .kp, .kr, .o, .ow) {
    color: #000;
    font-weight: 700;
}

.chroma :is(.kt, .nc) {
    color: #445588;
    font-weight: 700;
}

.chroma :is(.na, .no, .nv, .vc, .vg, .vi) {
    color: #008080;
}

.chroma .nb {
    color: #0086b3;
}

.chroma .bp {
    color: #999;
}

.chroma .nd {
    color: #3c5d5d;
    font-weight: 700;
}

.chroma .ni {
    color: #800080;
}

.chroma :is(.ne, .nf, .nl) {
    color: #990000;
    font-weight: 700;
}

.chroma .nn {
    color: #555;
}

.chroma .nt {
    color: #000080;
}

.chroma :is(.s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .s1) {
    color: #dd1144;
}

.chroma .sr {
    color: #009926;
}

.chroma .ss {
    color: #990073;
}

.chroma :is(.m, .mb, .mf, .mh, .mi, .il, .mo) {
    color: #009999;
}

.chroma :is(.c, .ch, .cm, .c1) {
    color: #999988;
    font-style: italic;
}

.chroma :is(.cs, .cp, .cpf) {
    color: #999999;
    font-weight: 700;
    font-style: italic;
}

.chroma .gd {
    color: #000;
    background: #ffdddd;
}

.chroma .ge {
    color: #000;
    font-style: italic;
}

.chroma :is(.gr, .gt) {
    color: #aa0000;
}

.chroma .gh {
    color: #999999;
}

.chroma .gi {
    color: #000;
    background: #ddffdd;
}

.chroma .go {
    color: #888888;
}

.chroma .gp {
    color: #555555;
}

.chroma .gs {
    font-weight: 700;
}

.chroma .gu {
    color: #aaaaaa;
}

.chroma .gl {
    text-decoration: underline;
}

.chroma .w {
    color: #bbbbbb;
}
