/* Light theme syntax highlighting */
.highlight {
    background-color: transparent;
    border: none;
}

.highlight pre {
    margin: 0;
    padding: 0;
}

/* Chroma styles for light theme */
.chroma {
    color: #000000;
    background-color: transparent;
}

.chroma .err {
    color: #a61717;
    background-color: #e3d2d2
}

/* Error */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

.chroma .hl {
    display: block;
    width: 100%;
    background-color: #d8d8d8
}

.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

.chroma .k {
    color: #000080;
    font-weight: bold
}

/* Keyword */
.chroma .kc {
    color: #000080;
    font-weight: bold
}

/* KeywordConstant */
.chroma .kd {
    color: #000080;
    font-weight: bold
}

/* KeywordDeclaration */
.chroma .kn {
    color: #000080;
    font-weight: bold
}

/* KeywordNamespace */
.chroma .kp {
    color: #000080;
    font-weight: bold
}

/* KeywordPseudo */
.chroma .kr {
    color: #000080;
    font-weight: bold
}

/* KeywordReserved */
.chroma .kt {
    color: #445588;
    font-weight: bold
}

/* KeywordType */
.chroma .na {
    color: #008080
}

/* NameAttribute */
.chroma .nb {
    color: #0086B3
}

/* NameBuiltin */
.chroma .nc {
    color: #445588;
    font-weight: bold
}

/* NameClass */
.chroma .no {
    color: #008080
}

/* NameConstant */
.chroma .nd {
    color: #3c5d5d;
    font-weight: bold
}

/* NameDecorator */
.chroma .ni {
    color: #800080
}

/* NameEntity */
.chroma .ne {
    color: #990000;
    font-weight: bold
}

/* NameException */
.chroma .nf {
    color: #990000;
    font-weight: bold
}

/* NameFunction */
.chroma .nl {
    color: #990000;
    font-weight: bold
}

/* NameLabel */
.chroma .nn {
    color: #555555
}

/* NameNamespace */
.chroma .nt {
    color: #000080
}

/* NameTag */
.chroma .nv {
    color: #008080
}

/* NameVariable */
.chroma .s {
    color: #d14
}

/* LiteralString */
.chroma .sa {
    color: #d14
}

/* LiteralStringAffix */
.chroma .sb {
    color: #d14
}

/* LiteralStringBacktick */
.chroma .sc {
    color: #d14
}

/* LiteralStringChar */
.chroma .dl {
    color: #d14
}

/* LiteralStringDelimiter */
.chroma .sd {
    color: #d14
}

/* LiteralStringDoc */
.chroma .s2 {
    color: #d14
}

/* LiteralStringDouble */
.chroma .se {
    color: #d14
}

/* LiteralStringEscape */
.chroma .sh {
    color: #d14
}

/* LiteralStringHeredoc */
.chroma .si {
    color: #d14
}

/* LiteralStringInterpol */
.chroma .sx {
    color: #d14
}

/* LiteralStringOther */
.chroma .sr {
    color: #009926
}

/* LiteralStringRegex */
.chroma .s1 {
    color: #d14
}

/* LiteralStringSingle */
.chroma .ss {
    color: #990073
}

/* LiteralStringSymbol */
.chroma .m {
    color: #009999
}

/* LiteralNumber */
.chroma .mb {
    color: #009999
}

/* LiteralNumberBin */
.chroma .mf {
    color: #009999
}

/* LiteralNumberFloat */
.chroma .mh {
    color: #009999
}

/* LiteralNumberHex */
.chroma .mi {
    color: #009999
}

/* LiteralNumberInteger */
.chroma .il {
    color: #009999
}

/* LiteralNumberIntegerLong */
.chroma .mo {
    color: #009999
}

/* LiteralNumberOct */
.chroma .o {
    color: #000000;
    font-weight: bold
}

/* Operator */
.chroma .ow {
    color: #000000;
    font-weight: bold
}

/* OperatorWord */
.chroma .c {
    color: #999988;
    font-style: italic
}

/* Comment */
.chroma .ch {
    color: #999988;
    font-style: italic
}

/* CommentHashbang */
.chroma .cm {
    color: #999988;
    font-style: italic
}

/* CommentMultiline */
.chroma .c1 {
    color: #999988;
    font-style: italic
}

/* CommentSingle */
.chroma .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* CommentSpecial */
.chroma .cp {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* CommentPreproc */
.chroma .cpf {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* CommentPreprocFile */
.chroma .gd {
    color: #000000;
    background-color: #ffdddd
}

/* GenericDeleted */
.chroma .ge {
    color: #000000;
    font-style: italic
}

/* GenericEmph */
.chroma .gr {
    color: #aa0000
}

/* GenericError */
.chroma .gh {
    color: #999999
}

/* GenericHeading */
.chroma .gi {
    color: #000000;
    background-color: #ddffdd
}

/* GenericInserted */
.chroma .go {
    color: #888888
}

/* GenericOutput */
.chroma .gp {
    color: #555555
}

/* GenericPrompt */
.chroma .gs {
    font-weight: bold
}

/* GenericStrong */
.chroma .gu {
    color: #aaaaaa
}

/* GenericSubheading */
.chroma .gt {
    color: #aa0000
}

/* GenericTraceback */
.chroma .gl {
    text-decoration: underline
}

/* GenericUnderline */
.chroma .w {
    color: #bbbbbb
}

/* TextWhitespace */