{{ $projects := .context.Site.Data.projects }}

<div class="grouped-list">
    <section class="content-group">
        <h2 class="group-title">projects</h2>

        <div class="group-projects">
            {{ range $projects }}
                <article class="project-item">
                    <a href="{{ .url }}" class="project-image-link" target="_blank" rel="noopener">
                        <img src="{{ .image | relURL }}" alt="{{ .title }}" class="project-image">
                    </a>

                    <div class="project-info">
                        <a href="{{ .url }}" class="project-title" target="_blank" rel="noopener">{{ .title }}</a>
                        <p class="project-description">{{ .description }}</p>
                    </div>
                </article>
            {{ end }}
        </div>
    </section>
</div>
