<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">

    {{ if .IsPage }}
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
            }
        };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
    {{ end }}

    <script defer src="{{ "js/hover-sound.js" | relURL }}"></script>
    <script defer src="{{ "js/heading-links.js" | relURL }}"></script>
    
    {{ block "head" . }}{{ end }}
</head>

<body>
    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>

</html>
